.main {
    font-family: Arial , Sans-serif;
    color: rgb(172, 172, 172);
    font-size: 11;
}
.emphasis {
    font-family: monospace;
    color:coral;
    font-size: 15;

}
.header {
    font-size: 60;
    color:coral;
}
.yellow  {
    font-size: 30;
    color:gold
}

